# ueventd.gaokun3.rc

/dev/kgsl-3d0              0666   system     system
/dev/dri/card0             0660   system     graphics
/dev/dri/renderD128        0660   system     graphics
/dev/ion                   0664   system     system
